.wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
}

#content {
  width: 100% !important;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  padding: 10px;
}

.active {
  margin-left: -250px !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar {
  background: #212529;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebarheader {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid grey;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: grey;
}
#sidebar ul li a:hover {
  color: #212529;
  background: rgb(165, 158, 158);
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #212529;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #212529;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}