:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

.container2 {
  background: #111 !important;
  padding: 3em;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.card2 {
  background: #222 !important;
  border: 2px solid #dd2476 !important;
  color: rgba(250, 250, 250, 0.8) !important;
  margin-bottom: 2rem !important;
}

.btn2 {
  border: 5px solid !important;
  border-image-slice: 1 !important;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none !important;
  transition: all .4s ease !important;
  padding: 4px;
  color: #dd2476 !important;
}

.btn2:hover, .btn2:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px !important;
  text-decoration: none !important;
  color: #fff;
}

svg {
  margin-right: 5px;
}

.title {
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin-bottom: 3rem;
  text-decoration: underline;
}